main {
  display: flex;
  flex-direction: column;
  font-family: 'VT323', monospace;
  align-items: center;
  width: 100%;
}

.characterSetup {
  display: flex;
  flex-direction: row;
}

.controls {
  width: 50vw;
  height: 50vh;
}

.display {
  width: 50vw;
  height: 50vh;
}
